* {margin: 0; padding: 0;}
 
body {
	text-align: center;
}

ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
  
}
 
li p {
  font: 250 15px/1.5 Georgia, Times New Roman, serif;
  margin-left: 100px;
  
}
 
div li {
  float: left;
  padding: 10px;
  overflow: auto;
  display:block;
  width: 700px;
  height: 130px;
}
 
li:hover {
 	background: #3f460f;
	background: -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));
	color: yellow;
	border-left:1px solid;
	border-right:1px solid;
}

span {
	display: inline-block;
}

div {
	color: yellow;
	width: 1000px;
	border:2px solid;
}
.top {
	padding: 50px;
	background: #314660;
	background: -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));
	color: yellow;
	border-radius:25px;
	border:2px solid;
}

.lines {
	padding: 50px;
	background: #314660;
	background: -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));
	color: yellow;
	border-radius:25px;
	border:2px solid;
}

.buttons {
	float: right;
	margin-right: 10px;
}

.notes {
	text-align:center;
	vertical-align: middle;
	padding: 10px;
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
	background: black;
	height: 100%;
	width: 80px;
	border-right:1px solid;
	border-bottom: 1px solid;
	float: left;
}