html, body {
   
    font-family: Helvetica, Arial, Sans !important;
}

/**body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}**/
 body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }

/** Blog header **/

#header {
    padding: 10px 0;
    position: relative;
     background: #364B66 !important;
}
#bodyindex {
	 background: #364B66 !important;
}

#logo {
    display: block;
    height: 49px;
    margin-left: 20px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
    text-align: center;
}

#logo span {
    color: #f00;
    font-size: 70%;
}

#title {
    background: #B8C569;
	font-size: 36px;
    padding: 20px 30px 30px 20px;
    margin: 20px 0;
    color: #3C4313;
	font-family: Helvetica, Arial, Sans !important;
	font-style :italic;
    position: relative;
    -webkit-border-radius: 16px;
    -webkit-box-shadow: 0 2px 0 #93A045;
    -moz-border-radius: 16px;
}


/** Footer **/

#footer {
    border-top: 1px solid #45597A;
    font-size: 70%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}

li {
	list-style-type: none;
	
	}